img {
	background-color: transparent;
	max-height: 100%;
	max-width: 100%;
	height: auto;
}

body {
	background-image: url("background_image.gif");
	
}

.caption {
	font-size: 14px;
	text-shadow: none;
}

.imgCustomTall {
	height: 300px;
	width: auto;
	border: 2px solid Black;
	box-shadow: 7.5px 7.5px LimeGreen;
}

.imgCustomWide {
	height: auto;
	width: 400px;
	border: 2px solid Black;
	box-shadow: 7.5px 7.5px LimeGreen;
}

.imgCustomArticleImage {
	height: auto;
	width: 350px;
}

.imgCustomSplitHomepageSquare {
	height: 200px;
	width: 200px;
}

.imgCustomSplitHomepageWide {
	height: auto;
	width: 350px;
}

#topHeader {
	padding: 1%;
	width: 100%;
	margin: auto;
	position: relative;
	background-image:linear-gradient(to right, #2F2F2F, #4F4F4F);
	border: 2px solid White;
}

.topTitleText {
	font-family: Arial;
	color: white;
	text-align: center;
	text-shadow: 2px 2px LimeGreen; 
}

#topHeaderLogo {
    width: 12.5%;
	height: 12.5%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.navbar-custom {
	border-radius:25px;
	border: 2px solid White;
	text-shadow: 2px 2px LimeGreen; 
}

.splitArticlesHomepage {
	display: inline-block;
	margin: auto;
	position: relative;
	width: 45%;
	padding: 1%;
	margin: 1%;
	background-image:linear-gradient(to right, #2F2F2F, #4F4F4F);
	color: white;
	text-align: center;
	text-shadow: 2px 2px LimeGreen; 
	border: 2px solid White;
}

.splitHouser {
	margin: auto;
	position: relative;
	text-align: center;
	width: 90%;
}

.articleCustom {
	margin: 1%;
	padding: 1%;
	background-image: linear-gradient(to right, #2F2F2F, #4F4F4F);
	color: white;
	text-shadow: 2px 2px LimeGreen; 
	border: 2px solid White;
}

.archiveCustom {
	margin: 1%;
	padding: 1%;
	background-image: linear-gradient(to right, #2F2F2F, #4F4F4F);
	color: white;
	text-shadow: 2px 2px LimeGreen; 
	border: 2px solid White;
}

#websiteDescription {
	background-image: linear-gradient(to right, #2F2F2F, #4F4F4F);
	border: 2px solid White;
	margin: auto;
	position: relative;
	text-align: center;
	width: 90%;
	color: white;
	text-shadow: 2px 2px LimeGreen;
	padding: 1%;
}

#footerCustom {
	background-image: linear-gradient(to right, #2F2F2F, #4F4F4F);
	border: 2px solid White;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px LimeGreen;
	padding: 1%;
}

#footerCustomCopyright {
	background-image: linear-gradient(to right, #2F2F2F, #4F4F4F);
	border: 2px solid White;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px LimeGreen;
}